<p id="notice"><%= notice %></p>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success]%>
  </div>
<% end %>
<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<%= link_to 'borrow', borrow_user_book_path(@current_user,@book) %> |
<%= link_to 'Back', user_books_path(@current_user) %>
