<p id="notice"><%= notice %></p>

<% if flash[:success] %>
  <h2>
    <%= flash[:success]%>
  </h2>
<% end %>
<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<%= link_to 'borrow', borrow_book_path(@book) %> |
<%= link_to 'Back', books_path %>
